<form action    =  "/edit?path=<%= path %>"
     method    =  "post"
>
	<div>
		<label>Title:</label>
		<input type="text" name="title"/><br/>
	</div>
	<div>
		<label>Description:</label>
		<input type="text" name="description"/><br/>
	</div>
	<div>
		<input type="submit" value="Edit Video" name="submit"/>
	</div>
</form>