<form action    =  "/api/video"
	 enctype="multipart/form-data"
     method    =  "post"
>
	<div>
		<label>File Path:</label>
		<input type="file" name="userVideo"/><br/>
	</div>
	<div>
		<input type="submit" value="Upload Video" name="submit"/>
	</div>
</form>